{%extends 'base.html'%}

{%block content%}
<!---->
<section class="header-extra-div" style="background-color:rgba(0,168,195)">
    <div class="container">

        <div class="row">
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fa fa-desktop"style='font-size:36px' aria-hidden="true"></i></a>
                <h2>Discover</h2>
                <p>Lorem ipsum dolor sit amet, consectetur , non odit quod sed sunt tenetur totam velit? Cupiditate.Lorem ipsum dolor sit amet, consectetur , non odit quod sed sunt tenetur totam velit? Cupiditate.</p>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fas fa-address-book" style='font-size:36px' aria-hidden="true"></i></a>
                <h2>Learn</h2>
                <p>Lorem ipsum dolor sit amet, consectetur , non odit quod sed sunt tenetur totam velit? Cupiditate.Lorem ipsum dolor sit amet, consectetur , non odit quod sed sunt tenetur totam velit? Cupiditate.</p>
            </div>
            <div class="extra-div col-lg-4 col-md-4 col-12">
                <a href="#"><i class="fas fa-gift" style='font-size:36px' aria-hidden="true"></i></a>
                <h2>Donate</h2>
                <p>gain or acquire knowledge of or skill in (something) by study, experience, or being taught Lorem ipsum dolor sit amet, consectetur , non odit quod sed sunt tenetur totam velit? Cupiditate.</p>
            </div>
        </div>
    </div>
</section>
<!----***************************************sect1ends*********************************************-->
<!----***************************************sect2Starts*********************************************-->

<section class="project-work" >
    <div class="container-heading text-center">
    <p class="text-center font-weight-bold">More Than 600+ organizations are working with us .</p>
    <div class="container d-flex justify-content-around align-items-center">
        <div>
        <h1>80</h1>
        <p>NGO's Connected</p>
        </div>
        <div>
        <h1>20</h1>
        <p>providing online solutions to ogranizations</p>
        </div>
        <div>
        <h1>30</h1>
        <p>Projects in different fields</p>
        </div>
    </div>

    </div>
</section>
{%endblock content %}